/* Styles for main page */
#banner {
    background: #9c9;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman" , serif;
    color: #282;
    text-align: center;
}
#banner img {
    float: left;
}
#columns {
    background: #141;
