<p id="notice"><%= notice %></p>

<p>
  <strong>Anho lect:</strong>
  <%= @anho_lectivo.anho_lect %>
</p>

<%= link_to 'Edit', edit_anho_lectivo_path(@anho_lectivo) %> |
<%= link_to 'Back', anho_lectivos_path %>
